<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rubik|Sulphur+Point&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <header class="d-flex align-items-center pr-4 pl-4">
        <ion-icon name="menu" size="large" class="menu mr-auto"></ion-icon>
        <h1>@Html.ActionLink("Templanza", "Index", "Home")</h1>
        <a href="/"><img src="~/Images/templanza-icono.png" alt="templanza-icon"> </a>
    </header>

    <nav class="">
        <div class="menu-links">
            <ion-icon name="close" size="large" class="cerrar align-self-start p-4"></ion-icon>
            <div class="links d-flex flex-column justify-content-around pl-3">
                @Html.ActionLink("Inicio", "Index", "Home")
                @Html.ActionLink("Libros", "Mostrar", "Libro")
                @Html.ActionLink("Autores", "Mostrar", "Autor")
                @Html.ActionLink("Géneros", "Mostrar", "Genero")
                @Html.ActionLink("Editoriales", "Mostrar", "Editorial")
                @Html.ActionLink("Sobre Nosotros", "Index", "Home")
            </div>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer class="d-flex justify-content-center">
        <p>&copy; Trabajo Práctico para Accenture Argentina 2019</p>
    </footer>

    <script src="~/Scripts/Script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    <script>response.setHeader("Set-Cookie", "HttpOnly;Secure;SameSite=Strict");</script>
</body>
</html>
