@using AccentureAcademy.TpFinal.Models
@model Libros

@{
    ViewBag.Title = $"Ver más";
    var db = new AccentureAcademyDBEntities();
    List<Autores> autores = db.Autores.ToList();
    List<Editoriales> editoriales = db.Editoriales.ToList();
    List<Generos> generos = db.Generos.ToList();
}


<article class="mostrar-editar card container">
    <h2 class="card-header d-flex justify-content-center">@ViewBag.Titulo</h2>
    
    <div>
        <a href="@Url.Action("Editar", null, new { id = Model.Id })" class="mr-3" title="Editar @Model.Titulo"><ion-icon name="create"></ion-icon></a>
        <a href="@Url.Action("Eliminar", null, new { id = Model.Id})" class="trash-libro" data-toggle="modal" data-target="#Eliminar" title="Eliminar @Model.Titulo"><ion-icon name="trash" id="@Model.Id" ion-icon></a>
    </div>
    
    <div class="card-body container">
        <div class="form-group row">
            <h2 class="text-center">@Model.Titulo</h2>
            <div class="col-md-12">
                <h3 class="col-md-4">ISBN:</h3>
                <p class="col-md-8">@Model.ISBN</p>
            </div>

            <div class="col-md-12">
                <h3 class="col-md-4">Descripción:</h3>
                <p class="col-md-8">@Model.Descripcion</p>
            </div>

            <div class="col-md-12">
                <h3 class="col-md-4">Género:</h3>
                @foreach (Generos genero in generos)
                {
                    if (Model.Id_Genero == genero.Id)
                    {
                        <p class="col-md-8">@genero.Genero</p>
                    }
                }
            </div>

            <div class="col-md-12">
                <h3>Editoriales:</h3>
                @foreach (Editoriales editorial in editoriales)
                {
                    if (Model.Id_Editorial == editorial.Id)
                    {
                        <p>@editorial.Editorial</p>
                    }
                }
            </div>

            <div class="col-md-12">
                <h3>Autores:</h3>
            </div>
        </div>
    </div>
</article>

<script>
    /* MODAL ELIMINAR AUTORES */
    let botonEliminar = document.querySelectorAll(".trash-libro")
    botonEliminar.forEach(boton => {
        boton.addEventListener("click", click => {
            let xml = new XMLHttpRequest()
            xml.open("GET", "/Autor/JSONListaLibros")
            xml.addEventListener("readystatechange", e => {
                if (xml.readyState == 4 && xml.status == 200) {
                    let jsonParse = JSON.parse(e.target.response)
                    for (var i = 0; i < jsonParse.length; i++) {
                        if (jsonParse[i].Id == click.target.id) {
                            document.querySelector(".mensaje-eliminar").innerHTML = `El libro ${jsonParse[i].Titulo}`
                        }
                    }
                }
            })
            xml.send()
        })
    })
</script>
