@{
    ViewBag.Title = "Templanza";
}
<article class="carrusel">
    <div id="carouselExampleSlidesOnly" class="carousel slide d-sm-none d-md-block" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="~/Images/biblioteca-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="~/Images/biblioteca-5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="~/Images/biblioteca-4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</article>

<article class="libros container mt-5">
    <h1 class="text-center">Libros</h1>

    <div class="row d-flex justify-content-around">
        <section title="El Juguete Rabioso - Roberto Arlt" class="libro card col-sm-5 col-md-3 col-lg-2">
            <a href="">
                <img src="~/Images/BooksCovers/arlt-juguete-rabioso.png" alt="juguete rabioso de arlt" class="card-img-top">
            </a>
        </section>

        <section title="La Invención de Morel - Adolfo Bioy Casares" class="libro card col-sm-5 col-md-3 col-lg-2">
            <img src="~/Images/BooksCovers/bioy-casares-invencion-morel.png" alt="la invencion de morel de bioy casares" class="card-img-top">
        </section>

        <section title="Rayuela - Julio Cortazar" class="libro card col-sm-5 col-md-3 col-lg-2">
            <img src="~/Images/BooksCovers/cortazar-rayuela.png" alt="rayuela de cortazar" class="card-img-top">
        </section>

        <section title="Ficciones - Jorge Luis Borges" class="libro card col-sm-5 col-md-3 col-lg-2">
            <img src="~/Images/BooksCovers/borges-ficciones.png" alt="ficciones de borges" class="card-img-top">
        </section>

        <section title="Martin Fierro - José Hernandez" class="libro card col-sm-5 col-md-3 col-lg-2">
            <img src="~/Images/BooksCovers/hernandez-martin-fierro.png" alt="martin fierro de hernandez" class="card-img-top">
        </section>

        <section title="Boquitas Pintadas - Manuel Puig" class="libro card col-sm-5 col-md-3 col-lg-2">
            <img src="~/Images/BooksCovers/puig-boquitas-pintadas.png" alt="boquitas pintadas de puig" class="card-img-top">
        </section>
    </div>
</article>

<article class="contacto mt-5 p-5">
    <h1 class="text-center pb-2">Contacto</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.068715758423!2d-58.378057085195316!3d-34.602423864935744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacc473596c3%3A0x568d6d5f7f1f535d!2sEducaci%C3%B3n%20IT!5e0!3m2!1ses!2sar!4v1574825494204!5m2!1ses!2sar"
            allowfullscreen=""></iframe>
</article>

<article class="menu d-flex justify-content-around align-items-center">
    <a>@Html.ActionLink("Libros", "Mostrar", "Libro")</a>
    <a>@Html.ActionLink("Autores", "Mostrar", "Autor")</a>
    <a>@Html.ActionLink("Géneros", "Mostrar", "Genero")</a>
    <a>@Html.ActionLink("Editoriales", "Mostrar", "Editorial")</a>
    <a>@Html.ActionLink("Niveles", "Mostrar", "Nivel")</a>
    <a>@Html.ActionLink("Sobre Nosotros", "Index", "Home")</a>
</article>